html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.sponge-wrapper {
  height: 100vh;
  width: 100vw;
  background: #fdf785;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Slackey", cursive;
}

.example {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: hidden;
}

.example:hover {
  cursor: default;
}

.header {
  text-align: center;
  color: #ac5629;
  color: #5d713f;
  cursor: default;
}

.example-text,
.example-converted-text {
  color: #ac5629;
}

.arrows {
  color: #dc0007;
}

.first-arrow {
  margin-left: 10px;
}

.last-arrow {
  margin-right: 10px;
}

.fade-in-1 {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) infinite both;
}

.fade-in-2 {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.25s infinite both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.25s infinite both;
}

.fade-in-3 {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s infinite both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s infinite both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.user-input {
  border-radius: 20px;
  padding: 5px;
  font-size: 1.1em;
  border: none;
  outline: none;
  color: #0059a4;
  text-align: center;
}

.user-input::placeholder {
  color: #5d713f;
  font-weight: bold;
}

.user-input:focus {
  width: 500px;
  max-width: 80vw;
}

.border-wrap {
  position: relative;
  padding: 4px;
  background: linear-gradient(to bottom right, #f6a3a5, #a988bd);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.convert-button {
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  border: none;
  background-color: #f76310;
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 20px;
  box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.5);
  outline: none;
  font-family: "Slackey", cursive;
}

.convert-button:hover {
  cursor: pointer;
}
